site_name: PyReactLab-Core
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: blue
      accent: orange
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: blue
      accent: yellow

plugins:
  # - social
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            show_root_heading: true
            show_root_full_path: true
            show_signature_annotations: true
            docstring_style: google
            merge_init_into_class: true
            show_if_no_docstring: true
            show_bases: true
            show_inheritance_diagram: false
            show_submodules: true

# extra:
#   social:
#     - icon: fontawesome/brands/github-alt
#       link: https://github.com/sinagilassi
#     - icon: fontawesome/brands/linkedin
#       link: https://www.linkedin.com/in/sina-gilassi

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg


copyright: |
  &copy; 2025 <a href="https://github.com/sinagilassi"  target="_blank" rel="noopener">Sina Gilassi</a>
